#overlay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.open {
  opacity: 1;
  z-index: 999;
}

.modal-inner {
  background-color: #ffff;
  border: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
}

#nav-menu-popup {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3 ease-in-out;
  z-index: -1;
}

#nav-menu-popup.open {
  opacity: 1;
  z-index: 999;
}
 .--mobile #nav-menu-_IoI6mwblP .nav-menu {
            font-size: 27px;
            font-weight: undefined;
        }

        #nav-menu-_IoI6mwblP .nav-menu {
            font-size: 18px;
            font-weight: undefined;
        }

        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body {
            background: var(--color-lllmmjtp);
        }

        #nav-menu-_IoI6mwblP .nav-menu li.nav-menu-item {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }

        #nav-menu-_IoI6mwblP .items-cart-active {
            color: #155eef;
        }

        #nav-menu-_IoI6mwblP .items-cart {
            color: undefined;
        }

        #nav-menu-_IoI6mwblP .nav-menu .nav-menu-item a,
        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu .nav-menu-item a {
            color: var(--white);
            cursor: pointer;
            height: inherit;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: nowrap;
            align-items: center;
            padding: 5px 31px;
            transition: all .3s ease;
        }

        #nav-menu-_IoI6mwblP .nav-menu .nav-menu-item:hover a {
            color: var(--color-lcf5mrwz);
            background: var(--transparent);
        }

        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu .nav-menu-item:hover a,
        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body .nav-menu .nav-menu-item:hover {
            color: var(--color-lcf5mrwz);
        }

        .--mobile #nav-menu-_IoI6mwblP .nav-menu .dropdown-menu .dropdown-item {
            font-size: 25px;
            font-weight: undefined;
        }

        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu {
            font-size: 27px;
            font-family: var(--contentfont);
            font-weight: undefined;
        }

        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body .close-menu {
            color: var(--white);
            font-size: 27px;
            font-weight: 600;
        }

        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body .nav-menu .nav-menu-item {
            color: var(--white);
            text-align: center;
            transition: all .3s ease;
            font-size: 25px;
            font-weight: undefined;
        }

        #nav-menu-_IoI6mwblP .nav-menu .dropdown-menu .dropdown-item {
            font-size: 16px;
            text-align: center;
            font-weight: undefined;
        }

        #nav-menu-_IoI6mwblP .nav-menu .dropdown-menu .dropdown-item a,
        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu .nav-dropdown-menu .nav-menu-item:hover a {
            color: var(--black);
            background: var(--white);
            padding: 10px;
            transition: all .3s ease;
        }

        #nav-menu-_IoI6mwblP .nav-menu .dropdown-menu .dropdown-item:hover a,
        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body .nav-dropdown-menu .nav-menu-item a,
        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body .nav-dropdown-menu .nav-menu-item:hover a {
            color: var(--black);
        }

        #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu-body .nav-dropdown-menu .nav-menu-item {
            background: var(--white);
            font-size: 25px;
            font-weight: undefined;
        }

        #nav-menu-_IoI6mwblP .nav-menu-mobile span::before {
            cursor: pointer;
            color: var(--white);
            content: "ïƒ‰";
            font-family: "Font Awesome 5 Free";
            font-size: 27px;
            font-weight: 600;
        }

        @media screen and (min-width:0px) and (max-width:480px) {
            .nav-menu-_IoI6mwblP .branding .title {
                font-size: 27px;
                line-height: 1.3em;
                font-weight: undefined;
            }
            #nav-menu-_IoI6mwblP .hl-autocomplete-results li {
                font-size: 27px;
            }
        }

        @media screen and (min-width:481px) and (max-width:10000px) {
            .nav-menu-_IoI6mwblP .branding .title {
                font-size: 18px;
                line-height: 1.3em;
                font-weight: undefined;
            }
            #nav-menu-_IoI6mwblP .hl-autocomplete-results li {
                font-size: 18px;
            }
        }

        #nav-menu-_IoI6mwblP strong {
            font-weight: 700;
        }

        #nav-menu-_IoI6mwblP em,
        #nav-menu-_IoI6mwblP strong,
        #nav-menu-_IoI6mwblP u {
            color: var(--text-color) !important;
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete-input {
            border: 1px solid #cacaca;
            margin: 1px;
            border-radius: 16px;
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete {
            font-family: inherit;
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete-button {
            background: #fff;
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete-input-wrapper {
            color: #000;
            background-color: #fff;
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete-results {
            border: 1px solid #cacaca;
            border-top: none;
            border-radius: 16px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            color: var(--white);
            background-color: var(--transparent);
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete-input:hover {
            border-width: 1.5px;
            margin: .5px;
        }

        #nav-menu-_IoI6mwblP .hl-autocomplete-input:focus-within {
            border-width: 2px;
            margin: 0;
        }
        
        #nav-menu-_IoI6mwblP .nav-menu .nav-menu-item a, #nav-menu-popup.nav-menu-_IoI6mwblP .nav-menu .nav-menu-item a {
           color: var(--white);
           cursor: pointer;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 5px 31px;
    transition: all .3s ease;
}
#nav-menu-popup .nav-menu-item .nav-menu-item-title {
    flex-grow: 1;
    margin: 0 1rem;
    max-width: calc(100% - 2rem);
}